.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    padding: 20px;
    background-color: #f2f2f2;
    margin-top: -100px;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  