.profile-container {
  /* Styles for the profile container */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  /* Styles for each section within the profile */
  margin-bottom: 20px;
  width: 100%;
}

/* Styling specifically for the 'My Information' section to resemble an ID card */
.info-card {
  border: 1px solid #ddd; /* Light grey border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Inner spacing */
  background-color: #f9f9f9; /* Light background color */
  max-width: 700px; /* Limiting width of the card */
  margin: 0 auto 20px; /* Centering the card and adding margin at the bottom */
}

.info-label {
  /* Styles for the labels in the information section */
  font-weight: bold;
  display: block; /* Makes each label a block element */
  margin-bottom: 5px; /* Spacing below each label */
}

/* Styling for the course section */
.course {
  position: relative;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  margin-bottom: 20px; /* Adds spacing below the course section */
}

/* Styles for the course image */
.course-image {
  width: 100%; /* Set image size to half of its container */
  transition: filter 0.3s ease; /* Smooth transition for filter */
}

/* Apply grayscale filter when the course is locked */
.locked-image {
  filter: grayscale(100%); /* Black and white filter */
}

/* Overlay styling for locked courses */
.locked-course {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Lock icon styling */
.lock-icon {
  font-size: 24px;
  color: white;
}

/* Purchase button styling */
.purchase-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchase-button:hover {
  background-color: #0056b3;
}