/* .home-wrapper {
    max-width: 1200px;
    margin: auto;
  } */
  
  .home-header {
    background-image: url('https://dronedriver-development-codebase.s3.amazonaws.com/images/drone-header.png');
    background-size: contain; /* Adjust the image to fit inside the div */
    background-repeat: no-repeat;
    background-position: right center;
    height: auto; 
    display: flex;
    justify-content: flex-start; /* Aligns form to the left */
    align-items: center; /* Keeps the form vertically centered */
    padding-left: 50px; /* Some padding to avoid the form sticking directly to the edge */
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, .96); /* Decreased transparency */
    padding: 20px;
    border-radius: 10px;
    width: 320px; /* Increased width to give more room for the inputs */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    width: 100%; /* Ensure the inputs take the full width of the form */
    padding: 10px; 
    margin: 5px 0; 
    box-sizing: border-box; /* This ensures padding and border are included in the total width */
  }

  .section-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  
  .whatis-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }

  .whatis-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 0 40px;
    font-size: 1.25rem;
    text-align:center;
    
  }
  
  .whatis-text {
    max-width: 50%;
    font-size: 1.2rem;
    color: #333;
    padding: 20px;
  }
  
  .whatis-text p {
    margin-bottom: 1.5rem;
  }
  
  .instructor-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .instuctor-text {
    max-width: 50%;
    text-align:center;
    font-size: 1.2rem;
    color: #333;
    padding: 20px;
  }
  
  .instructor-img {
    max-width: 50%;
  }
  
  .image-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  .learn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .learn-list ul {
    list-style: none;
    font-size: 1.25rem;
    color: #333;
  }
  
  .learn-list ul li {
    margin-bottom: 1rem;
  }
  
  .learn-description {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .learn-description p {
    max-width: 80%;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1.5rem;
  }

  
  @media (max-width: 768px) {

    .instuctor-text {
      max-width: 95%;
      text-align:center;
      font-size: 1.2rem;
      color: #333;
      padding: 20px;
    }

    .whatis-text {
      max-width: 95%;
      font-size: 1rem;
      color: #333;
      padding: 0px;
      margin-top:25px;
    }

    .whatis-text2 {
      max-width: 95%;
      font-size: 1rem;
      color: #333;
      padding: 0px;
      margin-top:15px;
      text-align:center;
    }

    .learn-description p {
      max-width: 95%;
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 1.5rem;
    }

    .logo_header{
      display:none;
    }

    .section-header{
      font-size:30px;
    }

    .whatis-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 0px;
    }

    .whatis-section2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 20px;
    }

    .instructor-img {
      max-width: 100%;
    }

    .learn-list ul {
      list-style: none;
      font-size: 1rem;
      color: #333;
    }
    
  }






  .section-container {
    padding: 40px 20px; /* Increase padding for more space */
    border: 2px solid #E0E0E0;
    background-color: #F9F9F9;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
  
.section-header {
    font-size: 26px;
    margin-bottom: 30px; /* Increase margin for spacing */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    padding: 10px 0; /* Add padding for the header */
    background-color: rgba(255, 255, 255, 0.1); /* Subtle background for the header */
}
  
.logo_header {
    margin-right: 15px;
}
  
.whatis-section {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 30px; /* Increase gap for more spacing */
    padding: 0 10%;
}
  
.whatis-img {
    flex: 1;
    display: flex;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.1); /* Subtle border for the video */
    padding: 10px; /* Some spacing around the video */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 10px; /* Rounded corners */
    background:black;
}
  
.whatis-text {
    flex: 1;
    text-align: justify;
    padding: 0 20px;
}