.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo img {
    max-width: 200px;
    display: block;
    margin: 0 auto 20px;
}

.content {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
}