.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top:-80px;
  }
  
  .register-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .register-form input { 
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.2rem;
    text-align:center;
  }
  
  .register-form button {
    margin-top: 1rem;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #1890ff;
    color: white;
    
  }
  
  .register-form button:hover {
    background-color: #40a9ff;
    cursor: pointer;
  }
  