.quiz-container {
    max-width: 800px;
    margin: 25px auto;
    font-family: Arial, sans-serif;
    margin-bottom:500px;
    
  }
  
  .timer-container {
    margin: 20px 0;
    font-size: 18px;
  }
  
  .question-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .question-number {
    
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px 2px;
    cursor: pointer;
    padding: 3px 3px;
    
  }
  
  .current-question {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    
  }
  
  .answered-question {
    border: 2px solid #4CAF50;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5);
  }
  
  .option-text {
    display: inline-block;
    margin-left: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .nav-button {
    background-color: #006193;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;
  }
  
  .result-container {
    margin: 20px 0;
    
  }
  
  .result-question {
    margin-bottom: 20px;
  }
  
  .correct-answer {
    color: green;
  }
  
  .wrong-answer {
    color: red;
  }
  

  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .option label {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .option input[type="radio"] {
    margin-right: 8px;
    width:10px;
  }

  .question-number.answered {
    border-color: green;
  }

  .open_link{
    font-size: 18px;
    color:#006193;

  }

  

  